#weapon_container {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#now_loading {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    width: 300px;
    background-color: #313131;
}

.card h2 {
    color: #CC9C1F;
    font-size: 18px;
    margin-top: 4px;
}

.card p {
    color: #dadada;
    margin: 10px;
}