#weapon_container {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
}

#now_loading {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-flow: row wrap;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    max-height: 150px;
    width: 30%;
    background-color: #313131;
    align-items: center;
    justify-content: space-between;
}

.card div {
    flex-flow: row nowrap;
    margin: 0px;
    width: fit-content;
}

.card div img {
    max-height: 100px;
    max-width: 100px;
}

.card h2 {
    color: #CC9C1F;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.card p {
    color: #dadada;
    margin: 2px;
}