body {
    display: grid;
    background: #282828 url("/static/img/mhworld_logo_shadow.png") 50% -50% no-repeat; /* This is some jank */
    background-size: 30%;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.top-nav a {
    display: grid;
    padding-left: 4px;
    padding-right: 4px;
}

.top-nav a img {
    max-block-size: 60px;
}

.intro-text {
    display: grid;
    margin-left: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #CC9C1F;
    font-weight: 400;
    margin-bottom: 0%;
}

h2 {
    color: #FFF;
    font-weight: 100;
    margin-top: 0%;
}