body {
    display: grid;
    background: #282828 url("/static/img/mhworld_logo_shadow.png") center no-repeat;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.top-nav a {
    display: grid;
    padding-left: 4px;
    padding-right: 4px;
}

.top-nav a img {
    block-size: 60px;
}

.top-nav a i {
    color: #FFF;
    font-size: 60px;
    block-size: 60px;
}

div {
    display: grid;
    margin-left: 2%;
}

.home-page-text h1 {
    color: #CC9C1F;
    font-weight: 400;
    margin-bottom: 0%;
}

.home-page-text h2 {
    color: #FFF;
    font-weight: 100;
    margin-top: 0%;
}

.weapon-page-text h1 {
    color: #FFF;
    font-weight: 400;
    margin-bottom: 0%;
}

.weapon-page-text h1 span {
    color: #FFF;
    transition: 500ms;
}

.weapon-page-text h1:hover span {
    transform: rotate(180deg);
}