<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MonHunDex</title>
        <meta name="description" content="An index of information for Monster Hunter World.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    </head>
    <body>
        <div class="top-nav">
            <a href="{{ url_for('index') }}">
                <div class="icons" id="home-icon"></div>
            </a>  
            <a href="{{ url_for('weapons') }}">
                <div class="icons" id="weapons-icon"></div>
            </a>          
            <a href="{{ url_for('weapons') }}">
                <div class="icons" id="armor-icon"></div>
            </a>
            <a href="{{ url_for('weapons') }}">
                <div class="icons" id="charms-icon"></div>
            </a>
            <a href="{{ url_for('weapons') }}">
                <div class="icons" id="decos-icon"></div>
            </a>
            <a href="{{ url_for('weapons') }}">
                <div class="icons" id="items-icon"></div>
            </a>
            <a href="{{ url_for('weapons') }}">
                <div class="icons" id="monsters-icon"></div>
            </a>
            <a href="{{ url_for('weapons') }}">
                <div class="icons" id="mantles-icon"></div>
            </a>
        </div>
        
        {% block content %}{% endblock %}

    </body>
</html>
